/* hikingDiscussion */
/* ---------------------------------------------------------- */
/* hikingCreatePost.js */
/* ---------------------------------------------------------- */
.hiking-create-post {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  background-color: #f9f9f9;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.create-post-box-button {
  background-color: #008000;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 12px 24px;
  text-align: start;
  width: 650px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.create-post-box-button:hover {
  background-color: #006400;
}

.dark-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 500px;
}

/* ---------------------------------------------------------- */
/* hikingSortPost.js */
/* ---------------------------------------------------------- */
.hiking-sort-post {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  background-color: #f9f9f9;
}

.hiking-sort-post span {
  display: flex;
  align-items: center;
}

.sort-post-box-button {
  background-color: #f9f9f9;
  color: black;
  font-weight: bold;
  border: none;
  padding: 8px 12px;
  text-align: start;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sort-post-box-button:hover {
  transition: color 0.1s, background-color 0.5s;
  background-color: #008000;
  color: #fff;
}


/* ---------------------------------------------------------- */
/* hikingDisplayPost.js */
/* ---------------------------------------------------------- */
.post-link {
  text-decoration: none;
  width: 100%;
}

.hiking-post-container {
  display: flex;
  width: auto;
  margin-right: 0px;
}

.hiking-post {
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  margin-top: 10px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: start;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.hiking-post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.hiking-post-header h5 {
  margin: 0;
  font-weight: bold;
}

.hiking-post-header img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  border-radius: 50%;
  object-fit: cover;
}

.hiking-post-username {
  font-weight: bold;
  text-decoration: none;
}

.hiking-post-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-decoration: none;
}

.hiking-post-content {
  font-size: 1rem;
  margin-bottom: 10px;
}

.hiking-post-images {
  position: relative;
  max-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hiking-post img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.image-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 500px;
}

.hiking-post-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.arrow-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 24px;
  padding: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.arrow-button:hover {
  opacity: 1;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

/* ---------------------------------------------------------- */
/* hikingForm.js */
/* ---------------------------------------------------------- */
.hiking-discussion-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  background: #fff;
  width: 700px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 98;
}

.hiking-discussion-form h2 {
  padding: 10px 15px;
}

.form-row {
  margin-bottom: 10px;
  padding-left: 15px;
  width: 680px;
}

label {
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  transition: border-color 0.3s, box-shadow 0.3s;
  box-sizing: border-box;
  min-height: 35px;
  max-height: 540px;
}

input[type="text"]:focus,
textarea:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

button {
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-hiking-discussion-button {
  background-color: #007bff;
  color: #fff;
}

.form-hiking-discussion-button:hover {
  background-color: #0056b3;
}

.form-post-button:active {
  background-color: #003c80;
}

.form-cancel-button {
  background-color: #ff0000;
  color: #fff;
}

.form-cancel-button:hover {
  background-color: #cc0000;
}

.form-cancel-button:active {
  background-color: #990000;
}

.upload-button {
  margin-left: 10px;
  width: 200px;
  padding: 8px 6px;
  margin-right: 290px;
}

/* hikingPost */
/* ---------------------------------------------------------- */
/* hikingPostDetails.js */
/* ---------------------------------------------------------- */
.post-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 25px;
}

.post-options {
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  margin-left: 620px;
}

.share-button,
.report-button {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 0;
  padding: 8px;
  margin-right: 10px;
}

.share-button:hover,
.report-button:hover {
  background-color: #b1b1b1;
}

.share-button img {
  margin-right: 8px;
}

.share-option-list {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  list-style: none;
  transform: translateY(80px);
  padding: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  align-items: center;
}

.options-option-list {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  list-style: none;
  transform: translate(645px, 40px);
  padding: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  align-items: center;
}

.share-option-list li,
.options-option-list li {
  padding: 8px 16px;
  cursor: pointer;
}

.share-option-list li:hover,
.options-option-list li:hover {
  background-color: #f0f0f0;
}

.share-icon,
.option-icon {
  width: 20px;
  margin-right: 7px;
  transform: translateY(3px);
}

/* ---------------------------------------------------------- */
/* hikingCreateComment.js */
/* ---------------------------------------------------------- */
.comment-form {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.comment-form .comment-input {
  margin: 10px;
  resize: none;
  min-height: 5em;
  padding-left: 5px;
  width: 525px;
  font-size: 1em;
}

.comment-form img {
  width: 32px;
  height: 32px;
  margin-left: 10px;
}

.comment-form .comment-button {
  background-color: #008000;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 15px;
  text-align: start;
  width: fit-content;
  border-radius: 10px;
  margin: 0;
  cursor: pointer;
}

.comment-form form {
  display: flex;
  align-items: center;
}

/* ---------------------------------------------------------- */
/* hikingPostComments.js */
/* ---------------------------------------------------------- */
.comment {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #f9f9f9;
  margin-top: 10px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: start;
  max-width: 690px;
}

.comment-header {
  display: flex;
  align-items: center;
}

.comment-username {
  font-weight: bold;
  font-size: 1rem;
  padding-left: 20px;
  text-decoration: none;
}

.comment-content {
  font-size: 0.9rem;
  margin-left: 50px;
}

.comment img {
  width: 30px;
  height: 30px;
}

.show-more-button {
  background-color: #f5f5f5;
  color: #333;
  border: 1px solid #ccc;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.show-more-button:hover {
  background-color: #e0e0e0;
}
