/* ---------------------------------------------------------- */
/* Create Post Component */
/* ---------------------------------------------------------- */
.hiking-create-post {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.create-post-box-button {
  background-color: #008000;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  text-align: start;
  width: 650px;
  border-radius: 10px;
  cursor: pointer;
}

.dark-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* ---------------------------------------------------------- */
/* Filter Post Component */
/* ---------------------------------------------------------- */
.hiking-filter-post {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

.filter-post-box-button {
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  text-align: start;
  width: 130px;
  border-radius: 10px;
  cursor: pointer;
}

.filter-post-box-button:hover {
  background-color: #008000;
  color: #fff;
}

/* ---------------------------------------------------------- */
/* Display Post Component */
/* ---------------------------------------------------------- */
.post-link {
  text-decoration: none;
}

.hiking-post {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #f9f9f9;
  margin-top: 10px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: start;
}

.hiking-post-username {
  font-weight: bold;
  padding-bottom: 10px;
}

.hiking-post-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.hiking-post-content {
  font-size: 1rem;
  margin-bottom: 10px;
}

.hiking-post-image {
  width: 680px;
  border-radius: 10px;
}

/* ---------------------------------------------------------- */
/* Post Form Component */
/* ---------------------------------------------------------- */
.post-form h2 {
  padding: 10px 15px;
}

.post-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  background: white;
  width: 700px;
}

.form-row {
  margin-bottom: 10px;
  padding-left: 15px;
  width: 665px;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  padding: 5px;
  margin-left: 0; 
}

.form-row textarea {
  resize: none;
  max-height: 10em;
  min-height: 5em;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

button {
  margin-left: 10px;
}

#title,
#content {
  font-size: 1rem;
  width: 100%; 
}

.style-textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.style-textarea:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

.style-input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.style-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

.form-post-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.form-post-button:hover {
  background-color: #0056b3;
}

.form-post-button:active {
  background-color: #003c80;
}

.form-cancel-button {
  padding: 10px 20px;
  font-size: 16px;
  margin-right: -11px;
  border: none;
  border-radius: 4px;
  background-color: #ff0000; 
  color: #fff;
  cursor: pointer;
}

.form-cancel-button:hover {
  background-color: #cc0000;
}

.form-cancel-button:active {
  background-color: #990000;
}


