@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base Styles */
* {
  margin: 0;
  font-family: "quicksand";
  scroll-behavior: smooth;
}
body {
  margin: 0;
}

.no-scroll {
  overflow: hidden;
}

/* Scroll bar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-thumb:active {
  background-color: #333;
}

/* ---------------------------------------------------------- */
/* App Layout */
/* ---------------------------------------------------------- */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-container {
  display: flex;
  flex: 1;
  border-top: 0.5px solid rgb(200, 200, 200);
}

.main-content {
  flex: 1;
  padding: 0px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom right, #ffc480, #e5e5e5);
}

.centered-content {
  text-align: center;
  margin-right: 250px;
}

/* ---------------------------------------------------------- */
/* Navigation Bar */
/* ---------------------------------------------------------- */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  align-items: center;
  font-size: 2rem;
  color: #ffa500;
}

.navbar .links {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.navbar a {
  margin-left: 25px;
  text-decoration: none;
  padding: 6px;
  transition: font-size 0.3s;
  color: black;
}

.navbar a:hover {
  font-size: 1.4rem;
  color: #ffa500;
}

.navbar .profile {
  margin-right: 40px;
}


/* ---------------------------------------------------------- */
/* Main Content */
/* ---------------------------------------------------------- */
.hiking-create-post {
  position: relative;
}

/* ---------------------------------------------------------- */
/* Search Bar Component */
/* ---------------------------------------------------------- */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  border-bottom: 1px solid #f2f2f2;
  width: 400px; 
  margin: 0 auto;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 280px;
  max-width: 100%;
  background-color: #fff;
}

.search-input:hover,
.search-input:focus {
  border-color: #8f8f8f;
}

.search-button {
  background-color: #ffa500;
  color: #fff;
  border: none;
  padding: 10px 20px; 
  font-size: 16px;
  border-radius: 4px;
  margin-top: 5px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease; 
}

/* Added a hover effect for the button */
.search-button:hover {
  background-color: #ff7a00;
}

/* ---------------------------------------------------------- */
/* confirmation.js */
/* ---------------------------------------------------------- */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal p {
  margin-bottom: 20px;
}

.modal-buttons {
  display: flex;
  justify-content: center;
}

.btn-confirm,
.btn-cancel {
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-confirm {
  background-color: #00a8e8;
  color: #fff;
}

.btn-cancel {
  background-color: #e81123;
  color: #fff;
}
