@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* Base Styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
body {
  margin: 0;
}

/* ---------------------------------------------------------- */
/* App Layout */
/* ---------------------------------------------------------- */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-container {
  display: flex;
  flex: 1;
}

.main-content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered-content {
  text-align: center;
  margin-right: 250px;
}

/* ---------------------------------------------------------- */
/* Navigation Bar */
/* ---------------------------------------------------------- */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  align-items: center;
  font-size: 2rem;
  color: #ffa500;
}

.navbar .links {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.navbar a {
  margin-left: 25px;
  text-decoration: none;
  padding: 6px;
  transition: font-size 0.3s;
}

.navbar a:hover {
  font-size: 1.4rem;
  color: #ffa500;
}

.navbar .profile {
  margin-right: 40px;
}

/* ---------------------------------------------------------- */
/* Side Bar */
/* ---------------------------------------------------------- */
.sidebar {
  width: 220px;
  background: #ffa500;
  height: 200vh;
  flex-direction: column;
  overflow: auto;
}

.sidebar .sidebar-link {
  padding: 10px;
  cursor: pointer;
}

.sidebar .sidebar-link a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
}

.sidebar .sidebar-link:hover {
  background-color: #ffcc00;
  font-weight: bold;
}

.sidebar .sidebar-link img {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  margin-right: 30px;
}

/* ---------------------------------------------------------- */
/* Main Content */
/* ---------------------------------------------------------- */
.hiking-create-post {
  position: relative;
  margin-top: 20px;
}

