.travel-post-preference li:not(:first-child) {
    margin-left: 10px;
}

.travel-post-preference {
    /* border: 1px solid red; */
    width: 80%;
    margin-left: 28px;
    display: 'flex';
    align-items: 'center';
    list-style-type: 'none';
    padding: 0px,
}

.travel-post-preference li {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 10px;
    background-color: #F0F8FF;
    color: #002D62;
    margin-top: 8px;
}